.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.main1{
    background-color: #FFB703;
}
.img1{
    height: 400px;
    background-image: url("../images/cara6.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: top center;
    border-radius: 15px;
    box-shadow: 4px 4px 2px grey;
}
.img2{
    height: 400px;
    background-image: url("../images/disChem.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 4px 4px 2px grey;
}
.img3{
    height: 400px;
    background-image: url("../images/cara3.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 4px 4px 2px grey;
}
.img4{
    height: 400px;
    background-image: url("../images/cara4.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 4px 4px 2px grey;
}
#carouselExampleSlidesOnly{
    background-image: url("../images/cara5.jpeg");
    background-size: contain;
    border-radius: 15px;
    box-shadow: 4px 4px 2px grey;
}
.pharm1{
    width: 98%;
    height: 100%;
    background-color: beige;
    border-radius: 10px;
    border: 1px solid black;
}
.pharm{
    width: 98%;
    height: 60%;
    border: 1px solid black;
    border-radius: 10px;
}
.row2{
    width: 98%;
}
.beige{
    background-color: whitesmoke;
}
.pharm1 p{
    font-size: 15px;
}
.pharm1 h4{
    font-family: 'Lobster';
}
.main2{
    background-color: #023047;
}
.mt-5 h4{
    color: #FFB703;
}