
body{
    background-color: beige;
}.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 15px;
}
.main1{
    background-color: #FFB703;
}
.img1{
    height: 400px;
    background-image: url("../images/tip.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 4px 4px 2px grey;
}
.img2{
    height: 400px;
    background-image: url("../images/pharm22.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 4px 4px 2px grey;
}
.img3{
    height: 400px;
    background-image: url("../images/pharm1.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 4px 4px 2px grey;
}
.img4{
    height: 400px;
    background-image: url("../images/pills.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 4px 4px 2px grey;
    
}
#carouselExampleSlidesOnly{
    background-image: url("../images/pharmy.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    box-shadow: 4px 4px 2px grey;
}
.pharm1{
    width: 98%;
    background-color: #FB8500;
    border-radius: 10px;
    border: 1px solid black;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.pharm{
    width: 98%;
    height: 75%;
    border: 1px solid black;
    border-radius: 10px;
}
.row2{
    width: 98%;
}
.beige{
    background-color: whitesmoke;
}
.pharm1 p{
    font-size: 15px;
}
.pharm1 h4{
    font-family: 'Lobster';
}
.main2{
    background-color: #023047;
    margin-top: 4em;
}
.mt-5 h4{
    color: #FFB703;
}
.my-3{
    font-size: 3em;
    text-align: center;
    margin-top: 2em;
    color: #023047;
    font-family: 'Lobster';
}
.para{
    font-size: 20px;
    font-family: sans-serif;
}
.pharm1 a {
    font-size: 20px;
    background-color: #023047;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}